* {
	border: 1px dashed red;
	min-height: 10px;
	box-sizing: border-box;
}
body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 90%;
	margin: 0;
}

.body-left p:first-child {
	margin-top: 0;
}

.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 5px;
}

input {
	width: 100%;
	border: none;
	border-bottom: 1px solid gray;
	color: gray;
}

.postcard-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: gray;
	padding: 2px;
}
